header {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: -1px 1px 8px #ffffffb3;
    background-color: rgb(13, 26, 57);
    color: whitesmoke;
    margin-bottom: 30px;
    font-size: 1.2em;


    a {
        margin-inline: 5px;
        cursor: pointer;

        &:hover {
            color: gold;
            text-decoration: none;
        }

        &.active {
            color: gold;
        }
    }
}