header {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f5b055;
    color: whitesmoke;
    margin-bottom: 30px;
    font-size: 1.2em;


    a {
        margin-inline: 5px;
        cursor: pointer;

        &:hover {
            color: #d57900;
        }
    }
}