.contact-preview {
    width: 200px;
    box-shadow: -1px 1px 8px #ffffffb3;
    background-color: rgb(13, 26, 57);
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    cursor: pointer;

    .info {
        height: 100%;
        padding: 10px;
        flex-grow: 1;
        position: relative;
        display: flex;
        flex-direction: column;
        padding: 10px;

        >p {
            margin: 0;
        }

        .data {
            flex-grow: 1;
        }

        .actions {
            display: flex;
            gap: 10px;
            opacity: 0;
            transform: translateX(-10%);
            transition-duration: 0.3s;
            transition-property: transform, opacity;
            margin-top: 5px;

            .remove-btn {
                width: 2em;
                height: 2em;
                background-color: inherit;
                border-radius: 100%;
                border: 1px solid aliceblue;
                color: aliceblue;
                transition: 0.15s;
                cursor: pointer;

                &:hover {
                    background-color: orangered;
                }
            }

            .edit-btn {
                background-color: rgb(13, 26, 57);
                color: aliceblue;
                border: 1px solid aliceblue;

                &:hover {
                    background-color: aliceblue;
                    color: rgb(13, 26, 57);
                }
            }
        }
    }

    &:hover .info .actions {
        opacity: 1;
        transform: translateX(0);
    }
}