<section [routerLink]="['/contacts', contact._id]" class="contact-preview">
    <section class="info">
        <section class="data">
            <h3>{{contact.name}}</h3>
            <!-- <p>Email: {{contact.email}}</p>
            <p>Phone: {{contact.phone}}</p> -->
        </section>
        <section class="actions">
            <button (click)="onRemoveContact($event)" class="remove-btn">X</button>
            <button (click)="onEditContact($event)" class="edit-btn">Edit</button>

        </section>
    </section>
    <img src="https://robohash.org/{{contact._id}}?set=set5" alt="">
    <!-- <img src="`https://xsgames.co/randomusers/assets/avatars/male/{{contact._id}}.jpg`" alt=""> -->
</section>