<section class="main-app">
    <!-- <contact-details (selectContact)="onSelectContactId($event)" *ngIf="selectedContactId; else contactList"
        [contactId]="selectedContactId"></contact-details> -->

    <!-- <ng-template #contactList> -->
    <contact-filter></contact-filter>
    <!-- <contact-list (selectContact)="onSelectContactId($event)" [contacts]="contacts$|async"></contact-list> -->
    <contact-list [contacts]="contacts$|async"></contact-list>
    <!-- </ng-template> -->
</section>

<router-outlet></router-outlet>